@use 'vars' as v;

@mixin flex($justify: null, $align: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin font_title($font_size, $line_height, $font_weight, $letter_spacing: null) {
    font-size: $font_size;
    line-height: $line_height;
    font-weight: $font_weight;
    letter-spacing: $letter_spacing;
}

@mixin pos_abs($top, $left: null) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin pos_center($percentX,$percentY) {
    // position: relative;
    left: $percentX;
    top:$percentY;
    transform: translateX(-1*$percentX) translateY(-1*$percentY);

}



@function rem($px) {
    @return $px / v.$main_font_size * 1rem;
}

// @function line-height($px) {
//     @return ($px / 1.8) / 10;
// }