@use 'vars' as v;
@use 'mixins' as m;
@import 'extend';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    font-family: v.$font-family;
    font-size: v.$font_size;
}

.container {
    max-width: v.$container_width;
    margin: 0 auto;
    padding: 0 20px;
}


.header {
    padding: 20px 0;

    &__body {
        @include m.flex(space-between, center);
    }

    &__logo {
        display: inline-block; // Чтобы transform работал корректно
        transition: transform 0.3s ease;

        &-icon {
            width: 45px;
            height: 35px;
            --color1: #9c69e2;
            --color2: #f063b8;

            .path-small,
            .path-big {
                transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), fill 0.5s ease;
                transform-box: fill-box; // Важно для корректного отсчета координат
                transform-origin: center;
            }
        }

        &:hover,
        &:focus {
            transform: scale(1.1);
            cursor: url('../assets/img/cursor.png'), pointer;

            .header__logo-icon {
                // 1. Меняем цвета (перекрестно)
                --color1: #f063b8;
                --color2: #9c69e2;

                // 2. Двигаем фигуры на места друг друга
                .path-small {
                    transform: translateX(24px); // Плывет вправо
                }

                .path-big {
                    transform: translateX(-24px); // Плывет влево
                }
            }
        }
    }

}



.menu {
    @include m.flex(space-between, center);
    gap: 40px;

    &__link {
        // font-family: v.;
        @include m.font_title(1rem, 1.6, 500);
        color: v.$text-gray-dark;

        &:hover {
            color: v.$colors-violet-middle;
            cursor: url('../assets/img/cursor.png'), pointer;
        }
    }

}

.btn {
    @extend %btn-base;
    color: v.$text-violet-dark;
    font-size: 1rem;
    border: 1px solid v.$colors-violet;
    padding: 16px 23px;
    border-radius: 50px;
    background-color: v.$text-white;

    &__icon {
        stroke: v.$colors-violet;
        fill: none;
    }

    &:hover,
    &:focus {
        color: v.$text-white;
        background-color: v.$colors-violet;

    }

    &:hover .btn__icon,
    &:focus .btn__icon {
        stroke: v.$text-white;
    }
}

.title {
    font-family: v.$second-family;
    vertical-align: middle;
    color: v.$text-violet-dark;
}

.text {
    font-family: v.$font-family;
    color: v.$text-gray-dark;
    @include m.font_title(1.125rem, 1.6, 500);
}

.hero {
    padding: 100px 0;

    &__content {
        display: flex;
        position: relative;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__title {
        @include m.font_title(5rem, 1.1, 700);
        // font-size: 80px;
        // line-height: 1.1;
        // font-weight: 700;
        width: 600px;
    }

    &__text {
        max-width: 370px;

        // font-weight: 500;
        // font-size: 18px;
        // line-height: 160%;
        @media screen and (max-width:992px) {
            color: v.$text-violet-dark;
            font-weight: 700;
        }
    }

    &__btn {
        background-color: v.$colors-violet;
        color: v.$text-white;
        text-align: center;

        &:hover {
            background-color: v.$colors-violet-middle;
        }
    }

    &__image-wrapper {
        position: absolute;
        top: 82px;
        right: 0;
        z-index: -1;
    }

    // h2 font-size: 40px;
    // line-height: 130%;
    // font-weight: 700;


    // h2_testimonials color:v.$text-gray-dark;
    // text-align: center;

    // h3 card

    // font-weight: 400;
    // font-size: 24px;
    // line-height: 130%;

    // span_autor
    // font-family: Montserrat;
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 160%;
    // vertical-align: middle;

    // about h4?
    // font-family: Montserrat;
    // font-weight: 600;
    // font-size: 16px;
    // line-height: 160%;
    // vertical-align: middle;



}

.bank {

    margin-bottom: 120px;
    background-color: v.$colors-pink-medium;
    border-radius: 50px;
    padding: 75px 0;

    &__body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0 70px;
        gap: 130px;
    }

    &__title {
        @include m.font_title(2.5rem, 1.3, 700);
        margin-bottom: 40px;
        // font-weight: 700;
        // font-size: 40px;
        // line-height: 130%;


    }
}

.features {
    &__title {
        text-align: center;
        @include m.font_title(2.5rem, 1.3, 700);
        margin-bottom: 50px;
        //      font-size: 40px;
        // line-height: 130%;
        // font-weight: 700;

    }

    &__header {
        margin-bottom: 80px;
    }

    &__text {
        width: 638px;
        text-align: center;
        display: block;
        margin: 0 auto;
        // margin-bottom: 80px;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        display: flex;
    }
}

.card {
    max-width: 570px;
    position: relative;

    &__image-wrapper {
        position: absolute;
        top: 110px;
        left:-15px;
    }

    &__text {
        width: 230px;
        font-weight: 400;
        font-size: 1rem;
    }

    &__content {
        // position: absolute;
        // left:107px;
        background-color: v.$colors-green-light;
        background-image: url('../assets/img/desktop/bg_img_card_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50px;
        padding: 62px 70px 62px 100px;

    }

    &__title {
        margin-bottom: 20px;
    }

    &__btn {
        // background-color: transparent;
        // border: 1px solid transparent;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.5%;
        vertical-align: middle;
        color: v.$text-violet-dark;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.footer {
    &__top {
        margin-bottom: 100px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 100px;
    }

    &__copyright {
        width: 275px;
        display: inline-block;
    }
}