@use 'vars' as v;
@use 'mixins' as m;
@import 'extend';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    font-family: v.$font-family;
    font-size: v.$font_size;
}

.container {
    max-width: v.$container_width;
    margin: 0 auto;
}

.flex_container {
    @include m.flex(space-between, center);

}

.header {
    padding: 20px 0;
}

.menu {
    @include m.flex(space-between, center);
    gap: 40px;

    &_link {
        // font-family: v.;
        @include m.font_title(0.889rem, 1.6, 500);
        color: v.$text-gray-dark;

        &:hover {
            color: v.$colors-violet-middle;
           cursor: url('../assets/img/cursor.png'), pointer;
        }
    }

}

.btn {
    @extend %btn-base;
    color: v.$text-violet-dark;
    font-size: 0.889rem;
    border: 1px solid v.$colors-violet;
    padding: 16px 23px;
    background-color: v.$text-white;
    &_icon{
    stroke:v.$colors-violet;
    fill:none;
}
    &:hover{
        color:v.$text-white;
        background-color: v.$colors-violet;

    }
    &:hover .btn_icon{
        stroke:v.$text-white;
    }
}
